/* h1 {
  background-color: green;
}

div {
  background-color: lightblue;
}

p {
  background-color: yellow;
} */

/* body {
  background-image: url("bgdesert.jpg");
} */
/* 
p {
  color: red;
} */

/* #p1 {
  color: green;
}

.button {
  color: blue;
  background: red;
} */

.geen-text {
  color: green;
}

#h {
  font-size: 100px;
  text-align: center;
}
